
@{
    ViewBag.Title = "Users";
}
@using PagedList.Mvc

@model PagedList.IPagedList<WebApplication27.Models.USER>
<h4 style="margin-bottom:20px; margin-top:30px">Users</h4>

@*alert messages*@

@if (TempData["Danger"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["Danger"]
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["Success"]
    </div>

}


<div class="card">
    <div class="card-body">

        <div class="form-row">
            <div class="form-group col-md-4">
                @using (Html.BeginForm("Index", "Users", FormMethod.Get))
                {

                    <div class="input-group">
                        @Html.TextBox("name", ViewBag.FilterValue as string, new { @class = "form-control", placeholder = "name..email...", })

                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                        </div>
                    </div>
                }
            </div>
            <div class="form-group col-md-8">
                @if (ViewBag.TotalToActiveUsers > 0)
                {
                    @Html.Action("GetToActiveUsers", "Users")

                }

            </div>





        </div>


    </div>
</div>
@*model for delete user*@
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="partial11">



                </div>
            </div>

        </div>
    </div>
</div>



@*Table To read  all users*@
<table class="table" style="margin-top:1rem">
    <thead>
        <tr>
            <th>Full Name </th>
            <th>Role </th>
            <th>Email</th>
            <th>Status</th>

            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {

        <tr id="@item.USER_ID">
            <td>

                @Html.DisplayFor(modelItem => item.FULL_NAME)
            </td>
            <td>
                @{
                    string[] members = item.USER_ROLE.Where(x => x.USER_ID == item.USER_ID).Select(x => x.ROLE.ROLE_NAME).ToArray();
                    int counter = 0;
                }
                @foreach (var character in members)
                {
                    counter++;

                    @character
                    if (counter < members.Count())
                    {
                        @Html.Raw(", ")
                    }

                }


            </td>
            <td>

                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.STATUS)
            </td>

            <td>
                <a class="btn btn-link" href="@Url.Action("Edit", "Users", new { id = item.USER_ID })">
                    Edit
                </a>  |
                <input class="vh btn btn-link" type="button" value="Delete"
                       data-assigned-id="@item.USER_ID" data-toggle="modal" data-target="#exampleModalLong1" />
                |

                <a class="btn btn-link" href="@Url.Action("Details", "Users", new { id = item.USER_ID })">
                    Details

                </a>
            </td>


        </tr>



    }


</table>

@*pagination*@
<p>
    @Html.PagedListPager(Model, page => Url.Action("Index", "Users",
new
{
    page,
    Filter_Value = ViewBag.FilterValue
}))
</p>





<script type="text/javascript">
    $(document).ready(function () {
        $("#Model").modal();
    });
 $(function () {
   $('.vh').click(function () {
          var user_id = $(this).data('assigned-id');
           var route = '@Url.Action("GetID3", "Users")?id=' + user_id;
          $('#partial11').load(route);
                });
                });

</script>
