
@{
    ViewBag.Title = "Departments";
}
@using PagedList.Mvc

@model PagedList.IPagedList<WebApplication27.Models.DEPARTMENT>

<h4 style="margin-bottom:20px; margin-top:30px">Departments</h4>


@*alert messages*@
@if (TempData["Danger"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["Danger"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["Success"]
    </div>

}

@*Search Form*@
@using (Html.BeginForm("Index", "Department", FormMethod.Get))
{
    <div class="row">
        <div class="col-10">
            <div class="input-group mb-3 w-25">
                @Html.TextBox("name", ViewBag.FilterValue as string, new { @class = "form-control", placeholder = "Name", })

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
        </div>
        <div class="col-2">
            <a href="@Url.Action("create", "Department")" class="btn" style=" background-color: #428bca; color: #fff;">+ Add Department</a>
        </div>
    </div>

}

@*table to read all Departments *@
<table class="table m-1">
    <thead>
        <tr>
            <th>Cost Code</th>
            <th>Department Name</th>
            <th>Status</th>
            <th>Region</th>

            <th>Actions</th>
        </tr>
    </thead>



    @foreach (var item in Model)
    {

        <tr id="@item.COST_CODE">
            <td>

                @Html.DisplayFor(modelItem => item.COST_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTMENT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VSIBILITY_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REGION.REGION_NAME)
            </td>
            <td>



                <a class="btn btn-link" href="@Url.Action("GetID2", "Department", new { id = item.DEPARTMENT_ID })">
                    Edit
                </a>  |
                <input class="vh btn btn-link" type="button" value="Delete"
                       data-assigned-id="@item.DEPARTMENT_ID" data-toggle="modal" data-target="#exampleModalLong1" />


            </td>


        </tr>



    }


</table>
@*pagination*@

<p>
    @Html.PagedListPager(Model, page => Url.Action("Index", "Department",
new
{
    page,
    Filter_Value = ViewBag.FilterValue
}))
</p>

@*model for delete Dep*@
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete Department</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="partial11">
                <div class="modal-body">
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
            $(function () {
                $('.vh').click(function () {
                    var DEPARTMENT_ID = $(this).data('assigned-id');
                    var route = '@Url.Action("GetID3", "Department")?DEPARTMENT_ID=' + DEPARTMENT_ID;
                $('#partial11').load(route);
            });

        });

</script>



