
@{
    ViewBag.Title = "Categories List";
}

@model WebApplication27.Models.CaseViewModel



<div class="card shadow-sm" style="margin-top:7%">


    <nav>
        <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
            <a class="nav-link" id="step1-tab" style=" color:gray" data-toggle="tab" href="#step1">Case Description</a>
            @if (Model != null && Model.CASE_TYPE == "Patient Specific Question")
            {
                <a class="nav-link" id="step2-tab" style=" color:gray" data-toggle="tab" href="#step2">Patient Information</a>
            }
            <a class="nav-link" id="step3-tab" style="color: #428bca;text-decoration: underline;" data-toggle="tab" href="#step3">Categories</a>
            <a class="nav-link" id="step1-tab" style=" color:gray" href="#step1">Questions</a>
            <a class="nav-link" id="step2-tab" style=" color:gray" href="#step2">Case Details</a>
            <a class="nav-link" id="step3-tab" style=" color:gray" href="#step3">Answer</a>
            <a class="nav-link" id="step2-tab" style=" color:gray" href="#step2">Record</a>
        </div>
    </nav>
    <div class="card-body">


        @if (Model.CategoryList.Count() != 0)
        {
            <div class="tab-content py-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="step1">


                    <table id="t01" style="margin-top:50px">
                        <thead>
                            <tr>
                                <th>Selected Category  </th>
                                <th>Category Name</th>

                            </tr>
                        </thead>
                        @for (int i = 0; i < Model.CategoryList.Count(); i++)
                        {
                            @Html.Raw("<tr>")


                            @Html.HiddenFor(m => Model.CASE_ID)
                            @Html.Raw("<td>")






                            @Html.DisplayFor(m => Model.CategoryList[i].Checked)

                            @Html.HiddenFor(m => Model.CategoryList[i].Checked)



                            @Html.Raw("</td>")




                            @Html.Raw("<td>")
                            @Html.DisplayFor(m => Model.CategoryList[i].name)
                            @Html.Raw("</td>")

                            @Html.HiddenFor(m => Model.CategoryList[i].id)


                            @Html.Raw("</tr>")

                        }





                    </table>

                    <br />

                </div>
                <div class="row justify-content-between">
                    <div class="col-auto">
                        @if (Model.CASE_TYPE == "General Questions")
                        {
                            <a href="@Url.Action("CaseDescriptionSatge", "CompletedCases" , new { CASE_ID = Model.CASE_ID })" class="btn btn-secondary">Previous</a>

                        }
                        @if (Model.CASE_TYPE == "Patient Specific Question")
                        {
                            <a href="@Url.Action("getPatientInformation", "CompletedCases" , new { CASE_ID = Model.CASE_ID })" class="btn btn-secondary">Previous</a>

                        }
                    </div>
                    <div class="col-auto">

                        <a href="@Url.Action("Completed", "Case")" class="btn" style="background-color: #428bca; color: #fff">Close</a>
                        <a href="@Url.Action("getListQuestions", "CompletedCases" , new { CASE_ID = Model.CASE_ID })" class="btn" style="background-color: #428bca; color: #fff">Next</a>

                    </div>
                </div>

            </div>

        }
        else
        {
            @Html.Raw("No Category found")
        }





    </div>
</div>




















