
@{
    ViewBag.Title = "Edit";
}
@model WebApplication27.Models.categoriesModel

<div class="d-flex justify-content-center" style="margin:5rem; ">

    <div class="card w-75">
        <div class="card-body">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Edit Category</legend>
                <form method="post" action="@Url.Action("editUsed", "Categories")">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CATEGORY_ID)
                    @Html.ValidationMessageFor(Model => Model.CATEGORY_ID, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label>
                            Category Name :
                        </label><br />
                        @Html.DisplayFor(Models => Models.CATEGORY_NAME, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(Model => Model.CATEGORY_NAME, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CATEGORY_NAME)

                    </div>
                    <div class="form-group">

                        <label>
                            Category Type :
                        </label><br />
                        @Html.DisplayFor(Models => Models.CATEGORY_TYPE, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(Model => Model.CATEGORY_TYPE, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CATEGORY_TYPE)



                    </div>
                    <div class="form-group">

                        <lable>Status</lable><span class="text-danger">  *</span><br />

                        @Html.RadioButtonFor(Models => Models.VSIBILITY_STATUS, "Visible", new { required = "required", name = "Status" }) Visible<br />
                        @Html.RadioButtonFor(Models => Models.VSIBILITY_STATUS, "Hide", new { required = "required", name = "Status" }) Hide
                        @Html.ValidationMessageFor(Model => Model.VSIBILITY_STATUS, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <lable>Required :</lable><br />
                        @Html.DisplayFor(Models => Models.DEFUALT, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(Model => Model.DISPLAY_ORDER, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.DEFUALT)

                    </div>
                    <div class="form-group">
                        <lable>Display Order :</lable><br />
                        @Html.DisplayFor(Models => Models.DISPLAY_ORDER, new { @class = "form-control", required = "required", onkeypress = "return validateNumber(event)" })
                        @Html.ValidationMessageFor(Model => Model.DISPLAY_ORDER, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.DISPLAY_ORDER)

                    </div>

                    <button type="submit" style="background-color: #428bca; color: #fff" class="btn">Save </button>


                </form>
            </fieldset>
        </div>
    </div>
</div>
